body {
  background-color: gray;
}

.imageBox
{
    background-image: url('./98x98\ px.png');
    width: 100px;
    height: 100px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    top: 5px;
    left: 5px;
    cursor: pointer;

}
.whiteBox
{
    background-color: white;
    width: 110px;
    height: 110px;
    margin: 10px;
    display: inline-block;
    border: 2px solid deeppink;
}
